@font-face {
    font-family: PlusJakartaSans_Regular;
    src: url(../../fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: PlusJakartaSans_Extrabold;
    src: url(../../fonts/PlusJakartaSans/static/PlusJakartaSans-ExtraBold.ttf);
  }
  


.brdngprjsection{
    height: 130vh;
    width: 100vw;
}

.brandingheading{
    height: 30vh;
    width: 100vw;
    /* background-color: #c5c5c5; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandingheading h1{
    font-size: 3.4vw;
    font-family: PlusJakartaSans_Extrabold;
    text-align: center;
    line-height: 0.7;
}

.brandingheading h1 span{
    font-size: 2vw;
}

.showcasesection{
    height: 70vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.showcasesection img{
    width: 25vw;
}

.gradient_02{
    position: absolute;
    top: 5vw;
    left: 10vw;
}

.gradient_01{
    position: absolute;
    top: 20vw;
    right: 10vw;
}

.projectscontainer{
    height: 65vh;
    width: 80vw;
    background: linear-gradient(to right bottom, rgba(252, 252, 252, 0.5), rgba(241, 241, 241, 0.511));
    position: absolute;
    z-index: 22;
    backdrop-filter: blur(10px);
    border-radius: 2vw;
    border: 1px solid rgb(239, 239, 239);
    transition: 3s;

    display: flex;
    justify-content: center;
    align-items: center;

}

.projectscontainer:hover {
    background: linear-gradient(to right bottom, rgba(244, 244, 244, 0.5), rgba(241, 241, 241, 0.511));
    transition: 3s;
}

.cardcontainer{
    height: 38vh;
    width: 32vw;
    /* background-color: red; */
    gap: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    height: 28vh;
    width: 22vw;
    border-radius: .8vw;
    background-image: url(../../static/images/Branding\ MetalHive.png);
    background-position-x: 20%;
    background-position-y: 40%;
    background-size: 150%;
    background-repeat: no-repeat;

    border: 1px solid rgb(237, 237, 237);
}

.headingcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: green; */
}

.headingcontainer h5{
    font-size: 1.9vw;
    font-family: PlusJakartaSans_Extrabold;
    cursor: pointer;
}

.headingcontainer h5:hover{
    color: rgb(51, 51, 51);
}

.headingcontainer h6{
    font-size: .7vw;
    font-family: PlusJakartaSans_Extrabold;
    cursor: pointer;
}

