.designationcontainer{
    height: 130vh;
    width: 100vw;
}

.headingofdsgn{
    height: 25vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: start;
}

.headingofdsgn h4{ 
    margin-left: 10vw;
    font-size: 1.4vw;
}

.edesignationcon{
    height: calc(120vh - 25vh);
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exactdesignations{
    height: 31vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0vw 10vw; 
}

.exactdesignations h2{
    font-family: PlusJakartaSans_Extrabold;
    font-size: 4.3vw;
}

.exactdesignations h2 span {
    font-family: PlusJakartaSans_Extrabold;
    opacity: 40%;
    font-size: 4vw;
}

.exactdesignations:nth-child(2){
    display: flex;
    justify-content: end;
}

.exactdesignations:nth-child(2) h2{
    text-align: end;
}